<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.axotsoft.wicket">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="com.axotsoft.wicket.WicketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.axotsoft.wicket.widget.CommandWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name="com.axotsoft.wicket.activity.DeviceChooserActivity" />
        <activity android:name="com.axotsoft.wicket.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.axotsoft.terb"
                    android:pathPrefix="/command"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.axotsoft.wicket.widget.WidgetClickReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.axotsoft.wicket.devices.DeviceNameChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.NAME_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.axotsoft.wicket.widget.CommandWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bluetooth_command_widget_info" />
        </receiver>

        <service
            android:name="com.axotsoft.wicket.bluetooth.BluetoothConnectionService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.axotsoft.wicket.bluetooth.BluetoothConnectionHelperService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
    </application>

</manifest>